.top {
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 100;
  background-color: #ececec;
  display: flex;
  flex-direction: row;
}
.top .img {
  height: 100px;
  width: 100px;
  margin: 10px 20px;
}
.top .name {
  font-size: 15px;
  line-height: 120px;
}
.top .mypage {
  margin-left: 100px;
  margin-top: 50px;
  background-color: #fff;
  height: 25px;
  line-height: 25px;
}
.top .publish {
  margin-left: 50px;
  margin-top: 50px;
  background-color: #fff;
  height: 25px;
  line-height: 25px;
}
