<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/css/home.css">
</head>
<body>
    <!-- <h1>hello home</h1> -->
    <div>
        <div class="top">
            <img class="img" src="/img/nophoto.jpg"/>
            <div class="name">Username: <%= user %></div>
            <button type="button" class="mypage">查看我的博客</button>
            <button type="button" class="publish" onclick="jump(<%= user %>)">发布博客</button>
        </div>
    </div>
</body>
<script src="/js/jquery.min.js"></script>
<script>
    function jump(username){
        // $.ajax({
        //     type: 'POST',
        //     url: '/todo',
        //     data: todo,
        //     success: function(data) {
        //         //do something with the data via front-end framework
        //         location.reload();
        //     }
        // });
        // console.log("username ", username);
        window.location.href = '/home/publish/' + username;
    }
</script>
</html>