<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>
    <link rel="stylesheet" href="/css/bootstrap.min.css">
    <link rel="stylesheet" href="/css/login.css">
    <script>
    </script>
</head>
<body>
    
<!--


 -->
    <form action="\login" method="post">
        <p>账号: <input type="text" name="userinfo" placehoder="username"/></p>
        <p>密码: <input type="text" name="password" /></p>
        <input type="submit" value="Login" />
    </form>

</body>
</html>