<!DOCTYPE html>
<html lang="en">
<head>
   <meta charset="UTF-8">
   <meta name="viewport" content="width=device-width, initial-scale=1.0">
   <meta http-equiv="X-UA-Compatible" content='ie=edge'>
   <title>Document</title>
</head>
<body>
   
    <form action="\reg" method="post">
        <p>name: <input type="text" name="username" /></p>
        <p>email: <input type="text" name="email" /></p>
        <p>password: <input type="password" name="password" /></p>
<!--      <p>photo: <input type="file" name="photo" /></p> --> 
        <input type="submit" value="Submit" />
    </form>
</body>
</html>
